# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
ENV/

# Database
*.db

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# Node
node_modules/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
